---
import ExperienceCard from "../ExperienceCard.astro"
---

<section id="experience">
	<h2 class="decorated-title fs-1">Experiencia</h2>
	<ExperienceCard title="Roulette Hero">
		<p>
			Un juego web al que le dedique 3 meses de puro diseño, desarrollo y
			aprendizaje. Adquirí mucho conocimiento sobre como desarrollador sobre
			hacer código limpio, planear cuidadosamente antes de escribir para evitar
			reescribirlo o borrarlo, graficar las ideas y siempre planear todo con
			antelación para ahorrarse problemas en el futuro
		</p>
		<p>
			Pruebalo <a href="https://roulette-hero.vercel.app">Aquí</a>!
		</p>
		<img
			src="assets/proyects/RH.png"
			alt="Roulette Hero screenshot"
			slot="image"
		/>
	</ExperienceCard>
	<ExperienceCard title="Pasantía" rotate>
		<p>
			Durante mis estudios secundarios, tuve la oportunidad de realizar una
			pasantía de medio año en mi escuela. Durante este tiempo, adquirí valiosas
			habilidades en la solución de problemas reales, trabajo en equipo,
			planificación, documentación y comunicación constante
		</p>
		<p>
			Durante la pasantía, implementamos la metodología SCRUM para llevar a cabo
			un proyecto de administración de archivos físicos en toda la escuela.
		</p>
		<p>
			Aprendí la importancia de la organización, la colaboración y la entrega de
			resultados de calidad. Fue una experiencia enriquecedora
		</p>
		<img
			src="assets/proyects/db-pasantia.svg"
			alt="Base de datos y página del proyecto de pasantía"
			slot="image"
		/>
	</ExperienceCard>
	<ExperienceCard title="Estudios">
		<p>
			Terminé el secundario como Técnico en Computación en la Confederación
			Suiza, Técnica N°26.
		</p>
		<p>
			Durante mis estudios adquirí un amplio conocimiento en el campo de la
			informática, centrándome en la creación y administración de proyectos, así
			como en el trabajo efectivo en equipo.
		</p>
		<img
			src="assets/proyects/estudios-page-design.svg"
			alt="Diseño de proyecto escolar en figma"
			slot="image"
		/>
	</ExperienceCard>
</section>

<style>
	h2 {
		text-align: center;
		margin: auto;
		margin-bottom: 2rem !important;
	}
</style>
