<div id="home">
	<article>
		<h2 class="fs-1 decorated-title">Luca Javier</h2>
		<p>
			Bienvenido(a). Soy un programador frontend especializado en ReactJS con
			bases solidas.<br /><br /> Estoy listo para enfrentar desafíos y seguir creciendo
			en este fascinante campo. Explora mi portafolio para descubrir más sobre mis
			habilidades y proyectos. ¡Juntos podemos construir soluciones web impactantes!
		</p>
	</article>
	<div class="img-container">
		<img src="fachero.webp" alt="Luca Javier" />
	</div>
</div>

<style>
	h1 {
		color: var(--primary);
	}

	#home {
		margin: 0 !important;
		display: flex;
		align-items: center;
		height: 100vh;
		overflow: hidden;
		gap: 2rem;
	}

	article,
	.img-container {
		display: flex;
		justify-self: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: calc(var(--max-width) / 2);
	}

	@media (max-width: 767px) {
		article {
			z-index: 2;
			width: 100%;
		}
		.img-container {
			display: block;
			z-index: 1;
			position: absolute;
			inset: 0;
			width: 100vw;
			margin-top: var(--header-height);
			height: calc(100vh - var(--header-height));
			opacity: 0.5;
			overflow: hidden;
		}
		.img-container img {
			width: 100%;
			object-position: 50%;
		}
	}
</style>
