.menu-bg {
	position: fixed;
	opacity: 0;
	bottom: 0;
	top: var(--header-height);
	left: 0;
	width: 100vw;
	background-color: var(--second);
	z-index: 90;
	pointer-events: none;
	-webkit-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-ms-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.menu-btn {
	display: none;
	height: 2rem;
	fill: var(--primary);
}

@media (max-width: 767px) {
	.menu-btn {
		display: block;
	}
	.menu {
		background-color: #2a233e;
		height: 100vh;
		width: 40vw;
		right: -300px;
		display: flex;
		gap: 0;
		flex-direction: column;
		position: absolute;
		transition: right 0.5s ease-out, opacity 1s;
		top: var(--header-height);
		z-index: 100;
	}
	.menu a {
		display: flex;
		align-items: center;
		height: 3rem;
		margin: 0;
	}
	.menu a:hover {
		background-color: var(--primary);
		color: var(--second);
	}
	.menu.isActive {
		right: 0;
	}
	.menu-bg.isActive {
		pointer-events: all;
		opacity: 0.2;
	}
}
